# Variables de entorno para el Frontend
# Copiar este archivo como .env y completar con los valores reales de AWS

# IP pública o dominio de la instancia EC2 Backend Despachos
VITE_API_DESPACHOS=http://<IP_EC2_BACKEND>:8080

# IP pública o dominio de la instancia EC2 Backend Ventas
VITE_API_VENTAS=http://<IP_EC2_BACKEND>:8081
